body{
    margin: 0;
}

@font-face {
  font-family: scribble;
  src: url(font.ttf);
}

#container{
    margin: auto;
    margin-top: 2.65%;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scene{
}
table{
    color: white;
}

.table-col{
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    background-color: black;
    user-select: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2.3vw;
    font-family: scribble;
}

.table-col:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
